h1, h2, h3, h4, h5, h6
  font-family: "Proxima", "Helvetica Neue", "Helvetica", Arial, sans-serif
  font-weight: normal

h3
  margin-bottom: 0

h4
  font-size: 2.4rem

h5
  font-size: 1.8rem

h6
  font-size: 1.5rem
  line-height: 1

p
  line-height: 20px
  font-size: 1.3rem

.row
  max-width: 980px

strong
  font-weight: 600

.button.nice
  background-image: url('images/button-gloss.png?1309531891')

.button.blue
  background-color: #00a5ff

a
  color: #00a5ff

a:hover
  color: #0084cc

.light-weight
  font-weight: 300

.normal-weight
  font-weight: normal


@media handheldonly screen and (max-width: 767px)
  #zurBar
    padding: 15px 0px 13px 0px

#zurBar
  background: #222222
  border-bottom: solid 4px #00a5ff
  padding: 15px 20px 13px 20px



  h1,h2
    margin-bottom: 0
    line-height: 1

  h1
    color: white
    font-size: 1.6rem
    font-weight: bold

    a
      color: #fff

  strong
    display: block
    margin: 0
    padding: 0
    height: 14px
    line-height: 14px
    position: relative
    bottom: 4px

    a
      line-height: 14px
      color: #fff
      font-weight: 500
      padding-right: 12px

      &.button
        padding: 4px 10px
        font-weight: bold


#insideContainer
  z-index: 100
  margin-bottom: 50px
  
 nav ul
  float: right
  position: relative
  top: 20px

  li
    float: left
    padding-top: 10px
    margin-left: 40px

    a
      font-weight: bold
      border-bottom: 1px dotted #ddd

    &.current a
      color: #777

  .button
    position: relative
    top: -7px
    color: white
    padding-top: 10px

  a.back
    height: 20px
    margin-bottom: 30px

  .frame
    border: 1px solid #ddd
    display: block

  .frame img
    display: block

  .frame + p
    margin-top: 4px

.footer_container
  #updates
    margin-bottom: 50px
    border: dashed 3px lightest
    background: #fff

    div.three.columns
      background-image: linear-gradient(top, lightest, lighter)
      background: -ms-linear-gradient(top, lightest 0%,lighter 100%)
      border: solid 1px lightest
      padding: 15px 10px 15px 10px
      width: 15%
      text-align: center

      h6
        color: darker
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2)
        margin-bottom: 10px font-size: 19px
        text-align: center
        font-weight: 600

      input
        color: #6f6f6f
        font-size: 1.1rem
        border: solid 1px #999999
        padding: 5px width: 97%

      .button.nice
        color: normal
        font-weight: 300
        font-size: 1.1rem
        border: solid 1px #999999
        padding: 5px 20px 5px

  article
    background: white
    border-top: none
    border-bottom: none
    margin-left: 0
    padding: 12px 17px 11px 2%

    dl
      margin-bottom: 4px

      dt
        font-weight: 600
        font-size: 1.4rem
        margin-bottom: 4px

    a
      font-size: 1.1rem
      font-style: italic
      background: url('images/octocat.png?1309544325') 0 -1px no-repeat
      padding-left: 22px
      position: relative
      left: -2px

    aside
      background: white
      margin-left: 0
      padding: 12px 17px 13px 2%
      border: solid 0px #e0e0e0
      border-width: 0px 0px 0px 1px
      width: 230px

      > a
        background: url('images/icon-docs.png?1309564181') 0 4px no-repeat
        padding-left: 26px
        padding-top: 5px
        padding-bottom: 5px
        margin-bottom: 5px
        display: block

      > a + a
        background: url('images/icon-download.png?1309564203') 0 4px no-repeat
        margin-bottom: 0
        margin-right: 0

  #valueProps
    margin-bottom: 40px

    p
      line-height: 21px
      font-size: 1.38rem

    #grid
      background: url('images/icon-grid.png?1309581016') 0 0 no-repeat
      padding-left: 38px
      padding-top: 2px

    #ui
      background: url('images/icon-ui.png?1309581127') 0 0 no-repeat
      padding-left: 38px
      padding-top: 2px

    #mobile
      background: url('images/icon-mobile.png?1309581151') 0 0 no-repeat
      padding-left: 38px
      padding-top: 2px

    #action_row
      margin: 0px
      text-align: center

  #logos
    border-top: solid 1px #e6e6e6
    padding-top: 20px
    padding-bottom: 10px
    margin-bottom: 0px

    h4
      color: #7b7b7b

    ul
      margin-top: 20px

      li
        width: 25%
        float: left
        margin-right: 0
        text-align: center
        &:last-child
          margin-right: 0

        a
          display: block
          margin-bottom: 0
          line-height: 1


